:root {
  --primery-text-color: #757575;
  --primery-bgr-color: #ffffff;
  --secondary-bgr-color: #f5f4fa;
  --title-text-color: #212121;
  --btn-text-color: #212121;
  --hero-footer-color: #2f303a;
  --btn-color: #2196f3;
  --hero-btn-hover: #188ce8;
  --pf-link-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --primery-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}

body {
  font-family: var(--primery-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: var(--primery-bgr-color);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.container {
  /* outline-color: red;
  outline-style: double; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ----------------HEADER------------------ */
.page-header {
  background-color: var(--primery-bgr-color);
  border-bottom: 1px solid var(--border-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-item:not(:last-child) {
  margin-right: 50px;
}

.logo,
.footer-logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--btn-color);
}

.logo {
  margin-right: 93px;
}

.logo-dark {
  color: var(--title-text-color);
}

.logo-white {
  color: var(--primery-bgr-color);
}

.page-header-link:hover,
.page-header-link:focus {
  color: var(--btn-color);
}

.auth-nav-link:hover,
.auth-nav-link:focus,
.auth-nav-link:hover,
.auth-nav-link:focus {
  color: var(--btn-color);
}

.page-header-link {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--btn-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.auth-nav-link {
  font-family: var(--primery-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.studio-color,
.link-color {
  color: var(--btn-color);
}
/* ----------------MAIN----------------- */
/* HERO */

.hero {
  background-color: var(--hero-footer-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primery-bgr-color);
  margin-bottom: 30px;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-hover);
}

.hero-btn {
  border: transparent;
  font-family: var(--primery-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primery-bgr-color);
  background-color: var(--btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
}

.flex-btn {
  display: flex;
  justify-content: center;
}

/* ---------------BENEFITS------------ */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.benefits.list {
  display: flex;
  margin: 0;
  padding: 0;
}

.benefits-item:not(:last-child) {
  margin-right: 30px;
}

/* -----------SPECIALIZATION ------------*/
.specialization {
  padding-top: 0;
}

.specialization-heading {
  margin-bottom: 50px;
}

.specialization-list {
  display: flex;
}

.specialization-image:not(:last-child) {
  margin-right: 30px;
}

/* ----------------TEAM----------------- */

.team {
  background-color: var(--secondary-bgr-color);
}

.team-heading {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primery-bgr-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card-name {
  padding: 30px 0;
}

/* ---------------PORTFOLIO -----------*/
/* FILTERS LIST */

.filters-btn {
  cursor: pointer;
  font-family: var(--primery-font);
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  background-color: var(--secondary-bgr-color);
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  min-height: 38px;
}

.btn-all {
  background-color: var(--btn-color);
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--btn-color);
  color: var(--primery-bgr-color);
}

/* ---------------PORTFOLIO LIST -----------*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-titles {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.filters.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-name {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 20px 24px;
}

/* -----------FOOTER-------------- */

.page-footer {
  background-color: var(--hero-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  margin-top: 20px;
}

.page-footer.list {
  padding-top: 0;
  padding-bottom: 0;
}

.page-footer-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primery-bgr-color);
}

.page-footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--pf-link-color);
}

.page-footer-address:hover,
.page-footer-address:focus,
.page-footer-link:hover,
.page-footer-link:focus {
  color: var(--btn-color);
}
